*
{
    margin: auto;
    padding: auto;
}
body
{
    background-image: url("land_pic.jpg");
    background-size: cover;
}
.formelement input
{
    position:fixed;
    top: 320px;
    left: 700px;
}
.label
{
    color: deepskyblue;
}
.button input
{
    width: 60px;
    height: 50px;
}